<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User - index</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        div.left-navbar{
            position: absolute;
            margin-left: 20px;
            width: 250px;
            height: 100%;
            margin-right: 75%;
        }
        div.user-info{
        }
        div.label{
            margin-right: 5px;
        }
        div.chat-list-item:hover {
            background: lightskyblue;
        }
        div.top-navbar{
            margin-left: 20px;
            margin-bottom: 3px;
            margin-top: 3px;
            width: 100%;
        }
        button.btn-logout{
            padding-top: 2px;
            padding-bottom: 2px;
        }
        div.active-chat{
            position: absolute;
            margin-left: 273px;
            margin-right: 3px;
            margin-bottom: 3px;
            height: 100%;
            width: calc(100% - 253px);
        }
        div.chat-list{
            overflow-y: auto;
        }
        div.msg-sender-text{
            color: blue;
            margin-right: 5px;
        }
        div.msg-date-text{
            font-size: 10px;
            color: deepskyblue;
        }
        div.message-text{
            margin-left: 5px;
            color: green;
        }
        div.message{
            margin-top: 20px;
        }
        button.msg-delete-btn{
            padding-top: 0;
            padding-bottom: 0;
            font-size: 7px;
            height: 10px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
<div class="contents">
    <div class="top-navbar d-flex flex-row">
        <button class="btn btn-secondary btn-logout" onclick="logout()">logout</button>
    </div>
</div>
<div class="contents">
    <div class="left-navbar">
        <div class="user-info">
            <div class="row">
                <div class="col">
                    <div class="label">Username</div>
                </div>
                <div class="col">
                    <div id="user-username"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">Name</div>
                </div>
                <div class="col">
                    <div id="user-name"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">Surname</div>
                </div>
                <div class="col">
                    <div id="user-surname"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">User type</div>
                </div>
                <div class="col">
                    <div id="user-type"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">Email</div>
                </div>
                <div class="col">
                    <div id="email-address"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="label">Phone number</div>
                </div>
                <div class="col">
                    <div id="phone-number"></div>
                </div>
            </div>
        </div>
        <button id="btn-create-chat" onclick="createChatDialog.dialog.showModal()">Create new chat</button>
        <dialog id="create-chat-dialog">
            <label for="input-chat-name">Chat name</label>
            <input id="input-chat-name" type="text" autocomplete="off">
            <br>
            <label for="input-chat-display-name">Display name</label>
            <input id="input-chat-display-name" type="text" autocomplete="off">
            <br>
            <button type="submit" onclick="createChatDialog.createChat()">Create</button>
        </dialog>
        <div class="chat-list" id="chat-list">
            <div id="chat-list-item" class="chat-list-item" hidden></div>
        </div>
    </div>
    <div class="active-chat">
        <div class="message-input" id="div-message-input">
            <label for="message-input"></label>
            <input type="text" id="message-input" autocomplete="off">
            <button id="btn-send-message">Send</button>
            <button id="btn-add-user" onclick="addChatUserDialog.dialog.showModal()">Add user</button>
            <dialog id="add-user-dialog">
                <label for="input-username">Username</label>
                <input id="input-username" type="text" autocomplete="off">
                <br>
                <label for="input-user-type" hidden>User type</label>
                <select id="input-user-type" hidden>
                    <option>USER</option>
                    <option>ADMIN</option>
                </select>
                <br>
                <button type="submit" onclick="addChatUserDialog.addUser()">Add</button>
            </dialog>
        </div>
        <div id="active-chat">
            <div class="message" id="message-template" hidden>
                <div class=" d-flex flex-row">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="msg-sender-text">Foo</div>
                            <div class="msg-date-text">12.12.2112</div>
                        </div>
                        <div class="message-text">Bar</div>
                    </div>
                    <button class="msg-delete-btn btn btn-danger" hidden>delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script type="text/javascript" th:src="@{/js/cookies.js}"></script>
<script type="text/javascript" th:src="@{/js/user/user-service.js}"></script>
<script type="text/javascript" th:src="@{/js/user/index.js}"></script>
<script>
    if (!getCookie(usr_access) || !getCookie(usr_name)){
        alert("please log in to access this page")
        window.location="/login"
    }
</script>
<script>
    const divUsername=document.getElementById("user-username")
    const divName=document.getElementById("user-name")
    const divSurname=document.getElementById("user-surname")
    const divUserType=document.getElementById("user-type")
    const divEmailAddress=document.getElementById("email-address")
    const divPhoneNumber=document.getElementById("phone-number")
    const divChatListItem=document.getElementById("chat-list-item")
    const divChatList=document.getElementById("chat-list")
    const divActiveChat=document.getElementById("active-chat")

    const messageTemplate=document.getElementById("message-template")
    const divMessageInput=document.getElementById("div-message-input")
    const messageInput=document.getElementById("message-input")
    let update = ()=>{}

    const createChatDialog = {
        dialog:document.getElementById("create-chat-dialog"),
        inputChatName:document.getElementById("input-chat-name"),
        inputDisplayName:document.getElementById("input-chat-display-name"),
        createChat:function () {
            const token=getCookie(nochat_access)
            const dialog=createChatDialog.dialog;
            const jwtData=parseJwt(token.split(" ")[1])
            console.assert(jwtData['user-id'])
            const chat = {
                "chatName":this.inputChatName.value,
                "displayName":this.inputDisplayName.value,
                "ownerId":jwtData["user-id"]
            }
            createChat(chat)
            dialog.close()
        }
    }

    function getUserByUsername(username,user_consumer){
        const token=getCookie(usr_access)
        sendRequest("/user?username="+username+"&token="+token,"GET",null,null,xhr=>{
            console.assert(xhr.status===200)
            if (xhr.status===200){
                let user=JSON.parse(xhr.responseText)
                user_consumer(user)
            } else {
                user_consumer(null)
            }
        })
    }

    const addChatUserDialog = {
        dialog:document.getElementById("add-user-dialog"),
        inputUsername:document.getElementById("input-username"),
        addUser:()=>{

            const token = getCookie(chat_access)
            const jwtData=parseJwt(token.split(" ")[1])
            const username=addChatUserDialog.inputUsername.value
            getUserByUsername(username,user=>{
                console.log(user)
                const userDTO = JSON.stringify({
                    "chatId":jwtData["chat-id"],
                    "userId":user['messengerUserId'],
                    "chatUserRole":"USER",
                    "title":""
                })
                sendRequest("/chat/users?username="+username+"&token="+getCookie(chat_access),"POST",userDTO,"application/json",xhr=>{
                    console.assert(xhr.status===200)
                    console.log(xhr.responseText)
                })
                addChatUserDialog.dialog.close()
            })
        }
    }

    function logout(){
        eraseCookie(usr_access)
        eraseCookie(usr_name)
        eraseCookie(chat_access)
        eraseCookie(nochat_access)
        document.location="/"
    }

    function newInstance(clazz, arguments, scope) {
        return new (Function.prototype.bind.apply(clazz, [scope].concat(arguments)));
    }

    function createChat(chat){
        let token = getCookie(nochat_access)
        sendRequest("/chat?token="+token,"POST",JSON.stringify(chat),"application/json",xhr=>{
            console.assert(xhr.status===200)
            addChat(chat)
        })
    }

    getUserInfo(xhr=>{
        console.assert(xhr instanceof XMLHttpRequest)
        //xhr=new XMLHttpRequest(xhr)

        console.log(xhr.responseText)
        let userdata = JSON.parse(xhr.responseText)
        divUsername.innerHTML=userdata['username']
        divName.innerHTML=userdata['name']
        divSurname.innerHTML=userdata['surname']
        divUserType.innerHTML=userdata['messengerUserType']
        divEmailAddress.innerHTML=userdata['emailAddress']
        divPhoneNumber.innerHTML=userdata['phoneNumber']
    })

    function addMessage(message){
        const container=divActiveChat
        const messageNode=messageTemplate.cloneNode(true)

        const msg_sender=messageNode.querySelectorAll(".msg-sender-text")[0]
        const msg_text=messageNode.querySelectorAll(".message-text")[0]
        const msg_date=messageNode.querySelectorAll(".msg-date-text")[0]
        const msg_delete_btn=messageNode.querySelectorAll(".msg-delete-btn")[0]
        msg_sender.innerHTML=message["userId"]
        msg_date.innerHTML=newInstance(Date,message["submissionDate"])
        msg_text.innerHTML=message["message"]
        const chatId=message['chatId']
        console.assert(chatId)
        const token = getCookie(chat_access)
        const jwtData=parseJwt(token.split(" ")[1])
        if (jwtData['user-id']===message['userId']){
            msg_delete_btn.hidden=null
            msg_delete_btn.addEventListener("click", ()=>{
                const data = {
                    "chatId":message["chatId"],
                    "userId":message["userId"],
                    "submissionDate":message["submissionDate"]
                }
                sendRequest("/chat/message?token="+token,"DELETE",JSON.stringify(data),"application/json",xhr=>{
                    if (xhr.status===200){
                        container.removeChild(messageNode)
                    } else {
                        console.warn("message not deleted, response status: "+xhr.status)
                        console.warn(xhr.responseText)
                    }
                })
            })
        }

        messageNode.hidden=null
        container.appendChild(messageNode)
    }

    function displayChatMessages(response){
        const messages=response['content']
        divActiveChat.innerHTML=''
        divActiveChat.appendChild(messageTemplate)
        for (const id in messages){
            const message=messages[id]
            console.log(message)
            addMessage(message)
        }
        console.log(response)
    }
    function addChat(chat) {
        let chatElement = divChatListItem.cloneNode()
        chatElement.hidden=null
        let displayName=chat['chatDisplayName']
        displayName=displayName?displayName:chat['displayName']
        chatElement.innerHTML=displayName
        chatElement.addEventListener("click",()=>{
            const chat_name=chat['chatName']
            update = ()=> initChatServiceTokens(chat_name,true,token=>{
                sendRequest("/chat/messages?chat-name="+chat_name+"&token="+token,"GET",null,null, xhr=>{
                    console.assert(xhr.status===200)
                    const response=JSON.parse(xhr.responseText)
                    console.log(xhr.responseText)
                    displayChatMessages(response)
                    activeChatName=chat_name
                })
            })
            update()

        })
        divChatList.appendChild(chatElement)
    }
    getUserChats(xhr=>{
        console.assert(xhr instanceof XMLHttpRequest)
        console.log(xhr.responseText)
        let userdata = JSON.parse(xhr.responseText)
        const chats=userdata['content']
        for (const i in chats) {
            const chat=chats[i]
            console.log(chat)
            addChat(chat)
        }
    })
    const intervalId = setInterval(function () {
        update()
    }, 5000);
</script>
<script>
    let activeChatName=null
    const btnSendMessage=document.getElementById("btn-send-message")
    btnSendMessage.addEventListener("click", ()=>{
        if (!activeChatName)
            return

        const token = getCookie(chat_access)
        const jwtData=parseJwt(token.split(" ")[1])
        const message={
            "userId":jwtData['user-id'],
            "chatId":jwtData['chat-id'],
            "submissionDate":new Date(),
            "message":messageInput.value
        }
        const data = JSON.stringify(message)
        console.assert(jwtData['user-id'] && jwtData['chat-id'])
        console.log(jwtData)

        sendRequest("/chat/message?token="+token,"POST",data,"application/json;charset=UTF-8",xhr=>{
            console.assert(xhr.status===200)
            update()
        })
    })
</script>
</html>